// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Topページ・Aboutページ両方で使用
.btn-pink {
  background-color: #ffe5f8!important; 
  color: #967E76!important; 
  border: none; 
  border-radius: 20px;
  padding: 10px 20px; 
  font-size: 18px; 
}

.btn-pink:hover {
  transform: scale(1.3); 
}


// Topページ
.content-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start; /* 要素の縦方向の配置を上端に揃える（必要に応じて調整） */
}

.genre_search{
  margin: 30px;
}

.genre-list li {
    white-space: nowrap;
}

.slide {
    margin-left: 5px;
    position: relative; /* 親要素に対して相対位置を指定 */
    width: 100%;
    height: 700px; /* 必要な高さを指定 */
    overflow: hidden; /* 高さを超える部分を隠す */
    margin-bottom: 0;
  }

.slide-item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

/* スライダーコンテナのスタイル */
.slider-container {
    max-width: 800px; /* スライダーの最大幅 */
    margin: 0 auto; /* 水平中央に配置 */
}

/* スライドのスタイル */
.slide-item2 {
    opacity: 1;
    transition: transform 0.5s; /* アニメーションの時間を調整 */
    display: inline-block; /* 横並びにする */
    margin-right: 20px; /* スライド間の間隔を調整 */
}

/* マウスホバー時のスタイル */
.slide-item2:hover {
    transform: scale(1.1); /* カーソルを当てた時に拡大 */
}

/* リンクのスタイル */
.slide-item2 a {
    text-decoration: none;
    color: #333; /* リンクの色を設定 */
}

// aboutページ
.tabletitle {
  font-weight: bold;
  font-size: 20px;
}

.image-container {
  padding: 20px;
  position: relative;
  display: inline-block;
}

.about-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.0);
  font-weight: bold;
  color: #ffffff!important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.centered {
  text-align: center;
}

.hgcolor {
  padding: 10px;
  font-weight: bold;
  background-color: #d193b2;
  color: #ffffff;
}

.elegance1 {
  padding: 8px;
  background-color: #ffe5e5;
}
.elegance2 {
  padding: 8px;
  background-color: #f9eaea;
}

.amour1 {
  padding: 8px;
  background-color: #ffebe5;
}
.amour2 {
  padding: 8px;
  background-color: #f9eeea;
}

.fleur1 {
  padding: 8px;
  background-color: #ffe5eb;
}
.fleur2 {
  padding: 8px;
  background-color: #f9eaee;
}

.lumiere1 {
  padding: 8px;
  background-color: #ffe5f2;
}
.lumiere2 {
  padding: 8px;
  background-color: #f9eaf2;
}

.aurora1 {
  padding: 8px;
  background-color: #ffe5f8;
}
.aurora2 {
  padding: 8px;
  background-color: #f9eaf6;
}

.diamond1 {
  padding: 8px;
  background-color: #f2e5ff;
}
.diamond2 {
  padding: 8px;
  background-color: #f9eaf9;
}

.grace1 {
  padding: 8px;
  background-color: #e5e5ff;
}
.grace2 {
  padding: 8px;
  background-color: #eaeef9;
}