<div class="container">
<div class="image-container">
  <%= image_tag "aboutpage.jpg", size: "1080x550", class: "img-fluid" %>
  <div class="image-overlay">
      バレエは単に踊りということではなく、身体全体で感動を与える総合芸術で、日々の練習で培った心身の表現は、観る人を魅了します。<br>
      また、バレエは強靭な精神を養い、人間的な魅力も引き出してくれます。そんなバレエを通じて、生徒たちが成長してくれることが、<br>
      マリーバレエスクールの誇りであり努めですので、今後も変わらずバレエへの溢れる情熱と丁寧な指導で、表現豊かなバレエを伝えていきたいと<br>
      思っております。
  </div>
</div>
<br><br>
  <button type="button" class="btn btn-outline-secondary">体験レッスン予約</button>
<br><br>
<p class="tabletitle">レッスンクラスについて</p>
<table border="1">
  <table border="2" cellspacing="1">
    <tr>
      <th class="hgcolor centered">クラス名</th>
      <td class="hgcolor centered">対象</td>
      <td class="hgcolor centered">クラス説明</td>
      <td class="hgcolor centered">レッスン料</td>
    </tr>
    <tr>
      <th class="elegance1 centered">エレガンスクラス</th>
      <td class="elegance2 centered">大人の初心者</td>
      <td class="elegance2">美容と心身の健康のためのリフレッシュクラス。エレガントな動きも身につけながら、<br>
        無理なくゆっくりとしたペースで行なっています。</td>
      <td class="elegance2 centered">１回 1,000円<br>
        11回set 10,000円</td>
    </tr>
    <tr>
      <th class="amour1 centered">アムールクラス</th>
      <td class="amour2 centered">幼児3~5歳児</td>
      <td class="amour2">本格的なバレエのレッスンを学ぶ前のクラスで、リズム感や音感を楽しみながら<br>
        養っていきます。</td>
      <td class="amour2 centered">月 8,000円<br>
        （週２回まで）</td>
    </tr>
    <tr>
      <th class="fleur1 centered">フルールクラス</th>
      <td class="fleur2 centered">小学1〜3年生</td>
      <td class="fleur2">本格的なバレエのレッスンを学ぶ前のクラスで、リズム感や音感を楽しみながら<br>
        養っていきます。</td>
      <td class="fleur2 centered">月9,000円<br>
        （週２回まで）</td>
    </tr>
    <tr>
      <th class="lumiere1 centered">ルミエールクラス</th>
      <td class="lumiere2 centered">小学4~6年生</td>
      <td class="lumiere2">骨格や筋肉の説明も取り入れながら、様々な動きを習得していき、ヴァリエーションも<br>
        練習していきます。トゥシューズでのレッスンも始まります。</td>
      <td  class="lumiere2 centered">月10,000円<br>
        （週２回まで）</td>
    </tr>
    <tr>
      <th class="aurora1 centered">オーロラクラス</th>
      <td class="aurora2 centered">中学生</td>
      <td class="aurora2">常に基本に立ち返りながら、より難しい動きや表現力を身につけていきます。</td>
      <td class="aurora2 centered">月15,000円<br>
        （週3回まで）</td>
    </tr>
    <tr>
      <th class="diamond1 centered">ダイヤモンドクラス</th>
      <td class="diamond2 centered">高校生</td>
      <td class="diamond2">センターでのレッスンを中心に、より高度な動きも学んでいきます。立ち姿が<br>
        綺麗になるような確実な基本動作を身につけます。</td>
      <td class="diamond2 centered">月20,000円<br>
        （週5回まで）</td>
    </tr>
    <tr>
      <th class="grace1 centered">グレースクラス</th>
      <td class="grace2 centered">経験者</td>
      <td class="grace2">更にレベルアップするための指名制のクラス。希望者にはコンクールにも挑戦しています。</td>
      <td class="grace2 centered">月21,000円<br>
        （週5回まで）</td>
    </tr>
  </table>
</table>
<br><br>
<p class="tabletitle">クラススケジュール</p>
<table border="1">
  <table border="2" cellspacing="1">
    <tr>
      <th class="hgcolor centered">クラス名</th>
      <td class="hgcolor centered">月曜日</td>
      <td class="hgcolor centered">火曜日</td>
      <td class="hgcolor centered">水曜日</td>
      <td class="hgcolor centered">木曜日</td>
      <td class="hgcolor centered">金曜日</td>
      <td class="hgcolor centered">土曜日</td>
      <td class="hgcolor centered">日曜日</td>
    </tr>
    <tr>
      <th class="elegance1 centered">エレガンスクラス</th>
      <td class="elegance2 centered">10:00~11:00</td>
      <td class="elegance2 centered"></td>
      <td class="elegance2 centered"></td>
      <td class="elegance2 centered"></td>
      <td class="elegance2 centered"></td>
      <td class="elegance2 centered"></td>
      <td class="elegance2 centered">10:00~11:00</td>
    </tr>
    <tr>
      <th class="amour1 centered">アムールクラス</th>
      <td class="amour2 centered">15:00~16:00</td>
      <td class="amour2 centered"></td>
      <td class="amour2 centered">15:00~16:00</td>
      <td class="amour2 centered"></td>
      <td class="amour2 centered">15:00~16:00</td>
      <td class="amour2 centered"></td>
      <td class="amour2 centered"></td>
    </tr>
    <tr>
      <th class="fleur1 centered">フルールクラス</th>
      <td class="fleur2 centered">16:00~17:00</td>
      <td class="fleur2 centered"></td>
      <td class="fleur2 centered">16:00~17:00</td>
      <td class="fleur2 centered"></td>
      <td class="fleur2 centered">16:00~17:00</td>
      <td class="fleur2 centered"></td>
      <td class="fleur2 centered"></td>
    </tr>
    <tr>
      <th class="lumiere1 centered">ルミエールクラス</th>
      <td class="lumiere2 centered">17:00~18:00</td>
      <td class="lumiere2 centered"></td>
      <td class="lumiere2 centered">17:00~18:00</td>
      <td class="lumiere2 centered"></td>
      <td class="lumiere2 centered">17:00~18:00</td>
      <td class="lumiere2 centered"></td>
      <td class="lumiere2 centered"></td>
    </tr>
    <tr>
      <th class="aurora1 centered">オーロラクラス</th>
      <td class="aurora2 centered">18:00~19:30</td>
      <td class="aurora2 centered"></td>
      <td class="aurora2 centered">18:00~19:30</td>
      <td class="aurora2 centered"></td>
      <td class="aurora2 centered">18:00~19:30</td>
      <td class="aurora2 centered"></td>
      <td class="aurora2 centered"></td>
     
    </tr>
    <tr>
      <th class="diamond1 centered">ダイヤモンドクラス</th>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered">19:30~21:00</td>
      <td class="diamond2 centered"></td>
    </tr>
    <tr>
      <th class="grace1 centered">グレースクラス</th>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered">19:30~21:00</td>
      <td class="grace2 centered"></td>
    </tr>
  </table>
</table>
</div>