<div class="container">
  <div class="row">
    <div class="col-md-10 text-center">
      <h2>レンタル衣装のご予約ありがとうございます❤︎</h2>
      <div class="d-flex justify-content-center">
        <%= image_tag "rental.jpg", size: "1500x800" %>
      </div>
      <br><p><%= link_to "TOPページに戻る", root_path %></p>
    </div>
    <div class="col-md-3 text-center">
    </div>
  </div>
</div>