/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color:#967E76;
   font-family: "ヒラギノ丸ゴ Pro W4","Nunito","Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
 }

header {
  background-color:#F8E8EE;
  padding: 0px;
  margin: 0;
  margin-bottom: 1rem;
}

.nav-item:hover {
  font-size: 20px; 
  color: #F675A8!important; 
}

.navbar-brand img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease; 
}

body {
    position: relative;
    background-image: image-url("background-image.jpg");
    background-position: center center;
    background-repeat: repeat-y;
    background-size: auto;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

main {
  min-height: 660px;
}

.btn:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease;
}

footer {
  width: 100%;
  background-color:#F8E8EE;
  margin: 0;
}

.fab {
  font-size: 30px;
  margin: 5px 30px;
}

.fab:hover {
  transform: scale(1.5); 
  transition: transform 0.3s ease;
}

.h1 .h2 .h3 .h4 .h5{
  padding: 5px;
}

.page-link {
  background-color: #F7DBF0!important;
}

a {
 color:#FFAAC9!important;
}

a:hover {
  color:  #F675A8!important;
}

.mail-box {
    color: #967E76!important;
}

.mail-magazine {
    color: #967E76!important;
}