<div class="p-3">
  <div class="text-center mt-3">
    <div class="mb-2">
      <a href="https://www.facebook.com/facebook/?locale=ja_JP" target="_blank">
        <i class="fab fa-facebook" style="font-size: 24px; margin-right: 10px;"></i>
      </a>
      <a href="https://line.me/ja/" target="_blank">
        <i class="fab fa-line" style="font-size: 24px; margin-right: 10px;"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram" style="font-size: 24px; margin-right: 10px;"></i>
      </a>
    </div>
    <p>© 1990 Marie Ballet School All Rights Reserved.</p>
  </div>
</div>
